# 함수의 구조

In [2]:
def add(a, b): 
    return a + b

In [3]:
a = 3
b = 4
c = add(a, b) 
print(c)

7

In [4]:
e = add(a, b) 
e

7

# 입력값과 리터값에 따른 함수의 형태

In [5]:
def add(a,b):
    result = a+b
    return result

In [6]:
a= add(3,4)
print(a)

7

In [8]:
def say():
    return 'Hi'

In [9]:
say()

'Hi'

In [11]:
a = say()
a

'Hi'

In [12]:
def add(a, b): 
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [13]:
add(3, 4)

3, 4의 합은 7입니다.

In [18]:
a = add(3,4)
print(a)

3, 4의 합은 7입니다.
None

# 매개변수를 지정하여 호출하기

In [20]:
def sub(a, b):
    return a - b

In [21]:
result = sub(a=7, b=3)  # a에 7, b에 3을 전달
print(result)

4

In [28]:
def add_many(*args): 
    result = 0 
    for i in args: 
        result = result + i   # *args에 입력받은 모든 값을 더한다.
    return result

In [29]:
result = add_many(1,2,3)
print(result)

6

In [30]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [31]:
def add_mul(choice, *args): 
    if choice == "add":   # 매개변수 choice에 "add"를 입력받았을 때
        result = 0 
        for i in args: 
            result = result + i 
    elif choice == "mul":   # 매개변수 choice에 "mul"을 입력받았을 때
        result = 1 
        for i in args: 
            result = result * i 
    return result

In [32]:
result = add_mul('add', 1,2,3,4,5)
print(result)

15

In [33]:
result = add_mul('mul', 1,2,3,4,5)
print(result)

120

# 키워드 매개변수, kwargs

In [34]:
def print_kwargs(**kwargs):
     print(kwargs)

In [35]:
print_kwargs(a=1)

{'a': 1}

In [36]:
print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

# 함수의 리턴값은 언제나 하나이다

In [37]:
def add_and_mul(a,b): 
    return a+b, a*b

In [39]:
result = add_and_mul(3,4)
print(result)

(7, 12)

In [40]:
def add_and_mul(a,b): 
    return a+b 
    return a*b

In [41]:
result = add_and_mul(2, 3)
print(result)

5

In [45]:
def say_nick(nick): 
     if nick == "바보": 
        return 
     print("나의 별명은 %s 입니다." % nick)

In [46]:
say_nick('야호')

나의 별명은 야호 입니다.

In [48]:
say_nick('바보')

# 매개변수에 초기값 미리 설정하기

In [49]:
def say_myself(name, age, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % age) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")

In [50]:
say_myself("박응용", 27)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [52]:
say_myself("박응용", 27, True)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [53]:
say_myself("박응선", 27, False)

나의 이름은 박응선 입니다.
나이는 27살입니다.
여자입니다.

# 함수 안에서 선언한 변수의 효력 범위

In [56]:
a = 1
def vartest(a):
    a = a +1
    return a
a = vartest(a)
print(a)

2

In [57]:
# global
a = 1 
def vartest(): 
    global a 
    a = a+1

vartest() 
print(a)

2

# lambda 예약어

In [58]:
add = lambda a, b: a+b
result = add(3, 4)
print(result)

7

# 사용자 입출력

In [60]:
a = input()
a

Life is too short, you need python

'Life is too short, you need python'

In [61]:
number = input("숫자를 입력하세요: ")
number

숫자를 입력하세요: 545

'545'

In [62]:
print("life" "is" "too short")

lifeistoo short

In [63]:
print("life"+"is"+"too short")

lifeistoo short

In [64]:
for i in range(10):
     print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

# 파일 읽고 쓰기

## 파일 생성하기

In [65]:
f = open("새파일.txt", 'w')
f.close()

In [66]:
pwd

'C:\\workspace\\WASSUP2\\python'

In [67]:
f = open("C:\\workspace\\WASSUP2\\python/새파일.txt", 'w')
for i in range(1, 11):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [68]:
f = open("새파일.txt", 'r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [70]:
f = open("새파일.txt", 'r')
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [71]:
f = open("새파일.txt", 'r')
lines = f.readlines()
print(lines)
print('='*10)

for line in lines:
    print(line)
f.close()

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']
==========
1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [73]:
f = open("새파일.txt", 'r')
lines = f.readlines()
for line in lines:
    line = line.strip()
    print(line)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

# 파일에 새로운 내용 추가하기

In [74]:
f = open("새파일.txt",'a')
for i in range(11, 20):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

# with문과 함께 사용하기

In [75]:
with open("foo.txt", "w") as f:
    f.write("Life is too short, you need python")