# 101~110번 문제

파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?
- bool 타입

In [1]:
print(3 == 5)

False

In [2]:
print(3 < 5)

True

In [3]:
x = 4
print(1 < x < 5)

True

In [4]:
print ((3 == 3) and (4 != 3))

True

In [5]:
print(3 => 4) # <= or >= 연산자가 옳다.

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3612698823.py, line 1)

In [6]:
if 4 < 3:
    print("Hello World") # 조건이 충족되지 않아 아무것도 출력되지 않는다!

In [7]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [8]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [9]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

# 111~120번 문제

In [10]:
a = input("입력:")
print(a * 2)

입력:안녕하세요
안녕하세요안녕하세요

In [11]:
a = input("숫자를 입력하세요: ")
print(10 + int(a))

숫자를 입력하세요: 15
25

In [12]:
a = input("")
if int(a) % 2 == 0:
    print("짝수")
else:
    print("홀수")

20
짝수

In [13]:
a = input("입력값: ")
num = 20 + int(a)
if num > 255:
    print(255)
else:
    print(num)

입력값: 24
44

In [14]:
a = input("입력값: ")
num = int(a) - 20
if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)

입력값: 300
255

In [16]:
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간: 15:15
정각이 아닙니다.

In [17]:
fruit = ["사과", "포도", "홍시"]
a = input("좋아하는 과일은?")
if a in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?수박
오답입니다.

In [19]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
종목 = input("종목명: ")
if 종목 in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

종목명: Naver
투자 경고 종목입니다.

In [20]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a = input("제가좋아하는계절은: ")
if a in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는계절은: 여름
정답입니다.

In [21]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a = input("좋아하는 과일은?")
if a in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?사과
정답입니다.

# 121~130번 문제

In [24]:
a = input("")
if a.islower():
    print(a.upper())
else:
    print(a.lower())

abcdefg
ABCDEFG

In [25]:
score = input("score: ")
score = int(score)
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

score: 95
grade is A

In [30]:
환율 = {"달러": 1167, "엔": 1.096, "유로": 1268, "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력: 100 달러
116700.0 원

In [31]:
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1: 5
input number2: 4
input number3: 2
5

In [32]:
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

휴대전화 번호 입력: 011
당신은 SKT 사용자입니다.

In [ ]:
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

In [33]:
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호: 010
강북구

In [34]:
주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호: 000227-310
남자

In [35]:
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호: 000227-31
서울입니다.

In [37]:
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호: 000227-3106615
유효하지 않은 주민등록번호입니다.

In [39]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

# 131~140번 문제

In [40]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [41]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [42]:
print("A")
print("B")
print("C")

A
B
C

In [43]:
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [44]:
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [45]:
for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [46]:
for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [47]:
for 변수 in [10, 20, 30]:
  print(변수)
  print("-------")

10
-------
20
-------
30
-------

In [48]:
print("++++")
for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30

In [49]:
for 변수 in [1, 2, 3, 4]:
  print("-------")

-------
-------
-------
-------

# 141~150번 문제

In [51]:
a = [100, 200, 300]
for x in a:
  print(x + 10)

110
210
310

In [52]:
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
  print("오늘의 메뉴:", 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [53]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목명 in 리스트:
  길이 = len(종목명)
  print(길이)

6
4
4

In [54]:
리스트 = ['dog', 'cat', 'parrot']
for 이름 in 리스트:
  print(이름, len(이름))

dog 3
cat 3
parrot 6

In [55]:
리스트 = ['dog', 'cat', 'parrot']
for 이름 in 리스트:
  print(이름[0])

d
c
p

In [56]:
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x", 변수)

3 x 1
3 x 2
3 x 3

In [57]:
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x ", 변수, "=", 3 * 변수)

3 x  1 = 3
3 x  2 = 6
3 x  3 = 9

In [58]:
리스트 = ["가", "나", "다", "라"]
나다라 = 리스트[1:]
for 변수 in 나다라:
  print(변수)

나
다
라

In [59]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :2]:
  print(변수)

가
다

In [60]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :-1]:
  print(변수)

라
다
나
가