# 1~10번 문제

In [1]:
print('Hello World')

Hello World

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [4]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [5]:
print("C:\Windows")

C:\Windows

In [6]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

\n은 줄바꿈을 의미하고, \t는 tab을 의미합니다.

In [7]:
print ("오늘은", "일요일")

오늘은 일요일

In [8]:
print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

In [9]:
print("naver", "kakao", "samsung", sep="/")

naver/kakao/samsung

In [10]:
print("first", end=""); print("second")

firstsecond

In [11]:
print(5/3)

1.6666666666666667

# 11~20번 문제

In [12]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [14]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액)
print(현재가)
print(PER)

298000000000000
50000
15.79

In [15]:
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [16]:
2 + 2 * 3

8

In [17]:
a = "132"
print(type(a))

<class 'str'>

In [23]:
num_str = "720"  
num_int = int(num_str)
print(num_int,type(num_int))

720 <class 'int'>

In [22]:
num = 100
result = str(num)
print(result,type(result))

100 <class 'str'>

In [24]:
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [27]:
year = "2020"
year2 = int(year)
print(year2-3)
print(year2-2)  
print(year2-1)

2017
2018
2019

In [28]:
월 = 48584
총금액 = 월 * 36
print(총금액)

1749024

# 21~30번 문제

In [29]:
letters = 'python'
print(letters[0], letters[2])

p t

In [30]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [31]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [32]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [33]:
phone_number = "010-1111-2222"
pn2 = phone_number.replace("-", " ")
print(pn2)

010 1111 2222

In [34]:
phone_number = "010-1111-2222"
pn2 = phone_number.replace("-", "")
print(pn2)

01011112222

In [35]:
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [36]:
lang = 'python'
lang[0] = 'P'
print(lang) # lang이 리스트가 아니라 인덱스번호로 수정이 안되는 것 같다.

TypeError: 'str' object does not support item assignment

In [37]:
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [38]:
string = 'abcd'
string.replace('b', 'B')
print(string) # 위 문제처럼 새로운 변수에 할당해야 한다. 문자열 그 자체로는 replace 할 수 없다.

abcd

# 31~40번 문제

In [39]:
a = "3"
b = "4"
print(a + b)

34

In [40]:
print("Hi" * 3)

HiHiHi

In [41]:
print("-" * 80)

--------------------------------------------------------------------------------

In [42]:
t1 = "python"
t2 = "java"
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

In [43]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" %(name1, age1))
print("이름: %s 나이: %d" %(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [44]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [45]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [46]:
상장주식수 = "5,969,782,550"
제거 = 상장주식수.replace(",", "")
변환 = int(제거)
print(변환, type(변환))

5969782550 <class 'int'>

In [47]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [48]:
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

# 41~50번 문제

In [49]:
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

In [50]:
ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)

btc_krw

In [53]:
a = "hello"
a = a.capitalize()
print(a)

Hello

In [54]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [55]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [56]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [57]:
a = "hello world"
a.split()

['hello', 'world']

In [58]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [59]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [62]:
data = "039490     "
data = data.rstrip()
print(data)

039490